<div class="win">
  <div class="header">
    <span>Architecture Browser</span>
    <span class="fillrest"></span>
  </div>
  <div class="main">
    <div class="sidebar eresizable">
      <div class="resizehandlediv">
        <div id="flatlist" class="sresizable">
          <input type="text" ng-model="filterexpr.location.address.streetAddress"
              ng-model-options="{debounce: 400}">
          <div class="resizablecontent">
            <table class="selectable">
              <tr ng-repeat="flat in hits = (flats.sold | filter:filterexpr)">
                <td>{{flat.location.address.streetAddress}}</td>
                <td>{{flat.rooms}}</td>
                <td>{{flat.soldPrice}}</td>
              </tr>
            </table>
          </div>
          <div class="rowcount">{{hits.length}} rows</div>
        </div>
        <div id="flatviewer" class="fillrest">
          <p ng-repeat="row in flatDescription">
            {{row}}
          </p>
        </div>
        <div class="wide"></div>
      </div>
    </div>
    <div id="visualizer" class="visualizer fillrest">
    </div>
  </div>
</div>
